.logo{
   
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 27, 223);
    text-shadow: 2px 2px rgb(243, 173, 173);
    background:url(https://www.perforce.com/sites/default/files/styles/social_preview_image/public/image/2020-01/image-blog-future-software-development.png?itok=eO9Fa9k-);
    background-size:contain;
    width:fit-content;
    height:fit-content

}

*{
    box-sizing: border-box;
}

.column{
         
    float:left;
    width:23.3%;
    Padding: 3px;

         
}


ul{
       list-style-type: none;
       margin:0;
       padding:0;
       overflow: hidden;
       background-color: rgb(243, 225, 225) ;
}


li{
    display:inline ;
    float: right;
}

li a{
      display: block;
      padding: 9px;
      background-color: rgb(243, 225, 225);
      color:black;
      text-align: center;
      padding: 15px 16px;
      text-decoration: none;

}   

li a:hover{
            color:red;
            transition:all 2s;
            transform: scale(1.2);
}

.active{
          background-color: green;
          padding:20px
}





h2{
    font-size:x-large;
}

img{
    width:250px;;
    height:200px
}

.nav{
    color: black;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
gap: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin: 300px;
    right: 280px;
bottom: 100px;

}


.nav:hover {

    transition: all 2s;
    -webkit-transform: scale(1.1);


}


img:hover{

transition: all 2s;
transform: scale(1.1);


}










    



    
    

     







