h1{
    color: rgba(114, 16, 16, 0.925);
    text-align: center;
    font-size: 70px;
    text-shadow: 3px 3px 4px rgb(111, 111, 231) 
    

}
    
#content{
    color: black;
    margin:auto;
    padding:50px;
    border:80px;
    font-size: 20px;
    font-weight:bold;
    font-style: italic;
    
}

form{
    background-color: rgba(119, 110, 100, 0.137);
    margin:100px;
    padding:60px;
    border:40px;
}

body{
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    padding:80px;
    border:50px;
    background-color: rgb(240, 161, 133)
}


    


input{
    background-color: rgb(231, 203, 165);
    width:fit-content;
    height: fit-content;
    position: relative;
    
}

#sub{
    color: white;
    background-color: brown;
}



li{
         display:inline;
         border: solid blueviolet;
         margin-right: 50px;
         border-radius: 10px;
         font-size: large;
         
}
   #a{
       background-color:lightblue;
   }    
 
   #b{
        background-color:pink
   }

   #c{
        background-color:green
   }


   
   /*#button{
             background-color: rgb(115, 115, 185);
             color:black;
             position: relative;
             float:right;
   }*/


            








