    
   .container {
float: flex;
}
    
    
    
    h1{
        color:blue; 
        text-align: center;
        text-shadow: 2px 2px;
        
    }

    h2{
        color:grey;font-size:small
    }

    img{
        
    
        width:500px;height:350px
    
    }

    section{
        color:brown;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        margin-left: 40px;
        margin-right: 40px ;
        
    
    }

    body{margin: auto;
        width: 500px;
        background-color:white;
        border:solid rgba(255, 255, 255, 0.76)
        
    
    }

    h4{ text-align:right;


    }

    hr{
        width: 600px;
        height: 9px;
        background-color:rgb(148, 226, 148)
    }



    html{
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    main{
          margin-right: 40px;
          margin-left: 40px;
    }   


    a.hover{
             color:hotpink
    }

    ul{
          list-style-type:circle;
          list-style-position: inside;
  }
    
    




    

    

    



    
